<style>
#myDIV {
    visibility: hidden;
}
</style>
<head>
	<meta charset="utf-8">
	<title>Movie Guessing Game</title>
</head>
<body>

	<h1>The Great Movie Guessing Game</h1>
	
	<video id="video" width="320" height="240" autoplay></video>
	
	<div id="myDIV">
		<p>Please select the correct answer:</p>
	
		<button class="guess"></button>
		<button class="guess"></button>
		<button class="guess"></button>
		<button class="guess"></button>
		
		<p id="p1"></p>
	</div>
	
	<button id="start">Start</button>

<script type="text/javascript" src="moviegame.js"></script>
</body>

