<style>
#answerField {
    visibility: hidden;
}
</style>
<head>
	<meta charset="utf-8">
	<title>Movie Guessing Game</title>
</head>
<body>

	<h1>The Great Movie Guessing Game</h1>
	
	<div id="videoParent">
		
	</div>
	
	<!-- <video id="video" width="320" height="240" autoplay></video> -->
	
	<div id="answerField">
		<p>Please select the correct answer:</p>
	
		<button class="guess"></button>
		<button class="guess"></button>
		<button class="guess"></button>
		<button class="guess"></button>
		
		<p id="checked"></p>
	</div>
	
	<button id="start">Start</button>
	<button id="createVideoButton">Remove Video</button>

<script type="text/javascript" src="moviegame.js"></script>
</body>

